<div class="sidebar" style="width:20%">
  <ul>
    <li class="active">
      <br>
      <br>
      <a routerLink="/dashboard/profile"><i class="fa fa-user"></i>&nbsp; &nbsp;&nbsp; Profile</a>
    </li><br>
    <li> <a routerLink="/dashboard/inquiry"><i class="fa fa-question-circle"></i>&nbsp; &nbsp;&nbsp;Inquiry Data</a> </li>
   <br> <li><a routerLink="/dashboard/saleorder"><i class="fa fa-shopping-cart"></i>&nbsp; &nbsp;&nbsp;Sale Order Data</a></li>
   <br> <li><a routerLink="/dashboard/delivery"><i class="fa fa-truck"></i>&nbsp; &nbsp;&nbsp;List of Delivery</a></li>
   <br> <li><a routerLink="/dashboard/invoice"><i class="fas fa-file-invoice"></i>&nbsp;&nbsp; &nbsp;&nbsp;Invoice Data</a></li>
    
   <br> <li><a routerLink="/dashboard/paymentsaging"><i class="fa fa-money"></i>&nbsp; &nbsp;&nbsp;Payments and Aging</a></li>
   <br> <li><a routerLink="/dashboard/crdbmemo"><i class="fa fa-credit-card"></i>&nbsp; &nbsp;&nbsp;Credit/Debit Memo</a></li>
    <br><li><a routerLink="/dashboard/overall"><i class="fa fa-database"></i>&nbsp;&nbsp; &nbsp;&nbsp;Overall Sales Data</a></li>
      
    <br>  <li> <a (click)="logout()"><i class="fa fa-sign-out"></i>&nbsp;&nbsp; &nbsp;&nbsp;Logout</a></li>
    <!-- <br><li> <a routerLink="/home"><i class="fa fa-home"></i>&nbsp;&nbsp; &nbsp;&nbsp;Back to Home Page</a></li> -->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    </ul>
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript">
      $(document).on('click','ul li', function(){
        $(this).addClass('active').siblings.removeClass('active')
      })
    </script>
</div>