<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>



---- Include the above in your HEAD tag ---------->

<!-- <meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" /> -->

<div class="container">
    <div class="forms-container">
        <div class="signin-signup">
            <script src="https://kit.fontawesome.com/aa6248277e.js" crossorigin="anonymous"></script>

            <form #loginform="ngForm" (ngSubmit)="getresult(loginform.value)" class="sign-in-form">
                <h2 class="title">Login Here!..</h2>
                <div class="input-field">
                    <!-- <i class="fa fa-user "></i> -->
                    <input type="text" name="uname" autocomplete="username" placeholder="Enter your Userid"
                        required="yes" ngModel />
                </div>
                <div class="input-field">
                    <!-- <i class="fa fa-lock "></i> -->
                    <input type="password" name="pwd" autocomplete="current-password" placeholder="Enter your Password"
                        id="id_password" required="yes" ngModel />
                    <!-- <i class="fa fa-eye" id="togglePassword" style="cursor: pointer;"></i> -->
                </div>
                <button type="submit" class="btn solid">Sign in</button>
            </form>
        </div>

    </div>

    <div class="panels-container">

        <div class="panel left-panel">
            <div>
                <button class="back" routerLink="/home">BACK TO HOME PAGE</button>
                <div>
                    <div class="content">
                        <h3>Hello, Customer</h3>
                        <p>Here, is your Login Page</p>
                    </div>
                </div>
            </div>
        </div>